# https://help.github.com/articles/about-codeowners/
# Pattern order is important: last matching pattern takes the most precedence
# Users listed in alphabetical order

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @pelletierjy
