@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #334155;
}

.dark {
  --background: #0f172a;
  --foreground: #f1f5f9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
